WAR WAG WAB
NTR NTG NTB
QR QG QB
NSWR NSWG NSWB
VR VG VB
SAR SAG SAB
TR TG TB
-WAG -WAR
-WAB -WAR
-WAR -WAG
-WAB -WAG
-WAR -WAB
-WAG -WAB
-NTG -NTR
-NTB -NTR
-NTR -NTG
-NTB -NTG
-NTR -NTB
-NTG -NTB
-QG -QR
-QB -QR
-QR -QG
-QB -QG
-QR -QB
-QG -QB
-NSWG -NSWR
-NSWB -NSWR
-NSWR -NSWG
-NSWB -NSWG
-NSWR -NSWB
-NSWG -NSWB
-VG -VR
-VB -VR
-VR -VG
-VB -VG
-VR -VB
-VG -VB
-SAG -SAR
-SAB -SAR
-SAR -SAG
-SAB -SAG
-SAR -SAB
-SAG -SAB
-TG -TR
-TB -TR
-TR -TG
-TB -TG
-TR -TB
-TG -TB
-WAR -SAR
-NTR -SAR
-QR -SAR
-NSWR -SAR
-VR -SAR
-WAG -SAG
-NTG -SAG
-QG -SAG
-NSWG -SAG
-VG -SAG
-WAB -SAB
-NTB -SAB
-QB -SAB
-NSWB -SAB
-VB -SAB
-SAR -WAR
-NTR -WAR
-SAG -WAG
-NTG -WAG
-SAB -WAB
-NTB -WAB
-SAR -NTR
-WAR -NTR
-WAR -NTR
-SAG -NTG
-WAG -NTG
-WAG -NTG
-SAB -NTB
-WAB -NTB
-WAB -NTB
-SAR -QR
-NTR -QR
-NSWR -QR
-SAG -QG
-NTG -QG
-NSWG -QG
-SAB -QB
-NTB -QB
-NSWB -QB
-SAR -NSWR
-QR -NSWR
-VR -NSWR
-SAG -NSWG
-QG -NSWG
-VG -NSWG
-SAB -NSWB
-QB -NSWB
-VB -NSWB
-SAR -VR
-NSWR -VR
-SAG -VG
-NSWG -VG
-SAB -VB
-NSWB -VB
